{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends "layout.html" %}

{% block pageTitle %}
  Download your file
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errors == 'badEmail' %}

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Not valid email address",
            href: "#email-address"
          }
        ]
      }) }}

      {% set inlineErrorMessage = {
        text: "Not valid email address"
      } %}

    {% endif %}

    {% if errors == 'wrongEmail' %}

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Wrong email address",
            href: "#email-address"
          }
        ]
      }) }}

      {% set inlineErrorMessage = {
        text: "Wrong email address"
      } %}

    {% endif %}

    <h1 class="govuk-heading-l">
      Before you can download your file
    </h1>

    <p class="govuk-body">
      We need to check your email address.
    </p>

    <form method="post">
      {{ govukInput({
        label: {
          text: "Email address",
          isPageHeading: true
        },
        id: "email-address",
        name: "email-address",
        errorMessage: inlineErrorMessage
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

  </div>
</div>

{% endblock %}
