{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends "layout.html" %}

{% block pageTitle %}
  {% if wrongEmail %}Error:{% endif %} Confirm your email address
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errors == 'badEmail' %}

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Not a valid email address",
            href: "#email-address"
          }
        ]
      }) }}

      {% set inlineErrorMessage = {
        text: "Not a valid email address"
      } %}

    {% endif %}

    {% if wrongEmail %}

      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-error-summary">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Error
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
            Enter the email address this link was sent to
          </h3>
          <p class="govuk-body">
            We’re just checking it’s the same email address.
          </p>
          <p class="govuk-body">
            We will not send any extra emails.
          </p>
        </div>
      </div>

    {% endif %}

    <h1 class="govuk-heading-l">
      Confirm your email address
    </h1>

    <p class="govuk-body">
      For security, we need to confirm your email address before you can download the file.
    </p>

    <form method="post">
      {{ govukInput({
        label: {
          text: "Email address",
          isPageHeading: true
        },
        id: "email-address",
        name: "email-address",
        errorMessage: inlineErrorMessage,
        value: emailAddress,
        type: "email"
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

  </div>
</div>

{% endblock %}
