
{% extends "layout.html" %}

{% block pageTitle %}
  You have a file to download – GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      You have a file to download
    </h1>
    <p class="govuk-body">{{ details.serviceName }} sent you a file to download.</p>
    <p class="govuk-body">
      If you’re not sure why you’ve been sent a file, or you have any questions,
      email <a href="mailto:{{ details.replyToAddress }}" class="govuk-link">{{ details.replyToAddress }}</a>.
    </p>
    <p class="govuk-body">
      <a href="/confirm-email/{{ id }}" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Continue
      </a>
    </p>

  </div>
</div>

{% endblock %}
