
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  GOV.UK Notify – security changes to how you send a file by email
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" style="float: none; margin: 0 auto;">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">GOV.UK Notify</span>
      Security changes to how you send a file by email
    </h1>

    <p class="govuk-body">
      This prototype asks recipients to confirm their email address before downloading a file.
    </p>

    <div class="govuk-inset-text">

      <p class="govuk-body">
        To see what it looks like if you use the correct email address, enter <span class="govuk-!-font-weight-bold">test@example.com</span>
      </p>

      <p class="govuk-body">
        To see what happens if you use the wrong email address, enter any other email address. For example, your own.
      </p>

    </div>

    <p class="govuk-body">
      Continue to the prototype by following this link:
    </p>

    <p class="govuk-body">
      <a href="https://documents.cloudapps.digital/d/wbAOXXvSgc3iPJOhhZJMjg==" class="govuk-link " rel="noreferrer">https://documents.cloudapps.digital/d/wbAOXXvSgc3iPJOhhZJMjg==</a>
    </p>

  </div>
</div>

{% endblock %}
